body,html{
    width: 100%;
    height: 100%;
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(../images/landing.jpg) no-repeat center center;
    background-size: cover;
}
h1,h2,h3,h4,p{
	color: #f8f8f8;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-header {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img{
    width: 30vw;
    max-width : 200px;
}

.intro-message{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.intro-message > h1 {
    font-size: 4vw;
}

.intro-message > h2 {
    font-size: 3.5vw;
    padding-bottom: 3vh;
}

.intro-message > h3 {
    font-size: 3vw;
    padding-bottom: 3vh;
}

.intro-message > h4 {
    font-size: 2.3vw;
}

.intro-divider {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

p {
    padding-top: 2vh;
    font-size: 1.3vw;
}

.network-name {
    text-transform: uppercase;
    font-size: 20px;
    color: #528CCC;
    font-weight: 400;
    letter-spacing: 2px;
    
}

@media(max-width:1199px) {
    .intro-message{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .intro-message > h1 {
        font-size: 4vw;
        padding-bottom: 4vh;
    }

    .intro-message > h2 {
        font-size: 3.5vw;
        padding-bottom: 9vh;
    }

    .intro-message > h3 {
        font-size: 3vw;
        padding-bottom: 3vh;
    }

    .intro-message > h4 {
        font-size: 2.2vw;
    }
    p {
        padding-top: 2vh;
        font-size: 1.8vw;
    }
}

@media(max-width:767px) {
    .intro-mesage{
        padding-top: 5vh;
    }
    .intro-message > h1 {
        font-size: 6vw;
        padding-bottom: 2vh;
    }

    .intro-message > h2 {
        font-size: 5vw;
        padding-bottom: 9.7vh;
    }

    .intro-message > h3 {
        font-size: 4vw;
        padding-bottom: 3vh;
    }

    .intro-message > h4 {
        font-size: 4vw;
    }
    p {
        padding-top: 2vh;
        font-size: 2vw;
    }
}
@media(max-width:500px) {
    .intro-message > h1 {
        font-size: 7vw;
    }

    .intro-message > h2 {
        font-size: 6vw;
        padding-bottom: 6vh;
    }

    .intro-message > h3 {
        font-size: 5vw;
        padding-bottom: 3vh;
    }

    .intro-message > h4 {
        font-size: 5vw;
    }
    p {
        padding-top: 2vh;
        font-size: 3vw;
    }
}

.titulo {
    font-size: 3.2vw;
}
